<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "OpenBuz", '#', id: "logo" %>
      <% if user_signed_in? %>
        <nav id="nav_user">
          <ul>
            <span><%= current_user.email %></span>
            <li><%= link_to "Settings", services_path %>
            <li><%= link_to "Sign out", signout_services_path %></li>
          </ul>
        </nav>
      <% else %>
        <nav id="nav_user">
          <ul>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Sign In", services_path %></li>
          </ul>
        </nav>
      <% end %>
    </div>
  </div>
</header>
